- Si integro a la mujer en la educación, entonces se potencia el desarrollo de los países, porque habrá más mujeres en puestos de responsabilidad

- Para poder validarlo, neesitamos validar que los paises con más mujeres en puestos de responsabilidad están más desarrollados. También ver si hay relación entre ello, es decir, a medido que hay más mujeres aumenta el desarrollo. 

- Si validamos esto, tenemos que validar después qué relación hay entre el incremento de la mujer en la educación frente al incremento de mujeres en puestos de responsabilidad.

#### Más mujeres en la educación >> mayor PIB >> mujeres en puestos de responsabilidad >> mas mujeres en TIC

In [1]:
# para medir el desarrollo del país uso PIB pero podría usar el índice de Gini*

In [40]:
import pandas as pd
import glob
import numpy as np

In [41]:
glob.glob("data/**.csv")

['data\\all_pib.csv',
 'data\\code_countries.csv',
 'data\\education.csv',
 'data\\egresados_cleaned.csv',
 'data\\employment_sexage.csv',
 'data\\eu_pib.csv',
 'data\\gdpyear.csv',
 'data\\ict_specialists.csv',
 'data\\manager.csv',
 'data\\pibpc.csv',
 'data\\seats_gov.csv']

In [42]:
codes = pd.read_csv("../data/code_countries.csv")
codes.loc[8:16,:]

   code    label
8    DE  Germany
9    EE  Estonia
10   IE  Ireland
11   EL   Greece
12   ES    Spain
13   FR   France
14   HR  Croatia
15   IT    Italy
16   CY   Cyprus

In [43]:
codes.label.values

array(['European Union - 27 countries (from 2020)',
       'European Union - 28 countries (2013-2020)',
       'European Union - 15 countries (1995-2004)',
       'Euro area - 19 countries (from 2015)', 'Belgium', 'Bulgaria',
       'Czechia', 'Denmark', 'Germany', 'Estonia', 'Ireland', 'Greece',
       'Spain', 'France', 'Croatia', 'Italy', 'Cyprus', 'Latvia',
       'Lithuania', 'Luxembourg', 'Hungary', 'Malta', 'Netherlands',
       'Austria', 'Poland', 'Portugal', 'Romania', 'Slovenia', 'Slovakia',
       'Finland', 'Sweden', 'Iceland', 'Norway', 'Switzerland',
       'United Kingdom', 'Montenegro', 'North Macedonia', 'Serbia',
       'Turkey'], dtype=object)

### más educación >> más empleo ICT  >> más desarrollo económico

In [45]:
# mirar años que tienen todos los csv en común [2009-2019]
# porcentaje de la mujer <-- así no tengo que manejar los datos de hombres y mujeres, solo en términos relativos

In [49]:
education = pd.read_csv("../data/education.csv")
education.head()

,sex,age,unit,isced11,geo,2019,2018,2017,2016,2015,...,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992
0,F,Y15-64,PC,ED0-2,AT,20.5,21.1,21.4,22.1,22.5,...,NaN,NaN,35.3,36.0,36.6,39.6,41.4,NaN,NaN,NaN
1,F,Y15-64,PC,ED0-2,BE,24.0,25.1,26.0,27.1,27.3,...,41.4,41.8,43.5,44.3,44.0,45.2,47.7,48.8,50.5,50.9
2,F,Y15-64,PC,ED0-2,BG,21.4,20.9,21.0,21.3,21.5,...,32.7,35.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F,Y15-64,PC,ED0-2,CH,16.8,17.8,18.6,19.1,19.3,...,28.3,28.7,29.3,30.3,26.5,26.6,NaN,NaN,NaN,NaN
4,F,Y15-64,PC,ED0-2,CY,20.0,20.6,22.2,22.8,24.8,...,40.7,41.2,43.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
education = education[['unit', 'sex', 'geo', 'isced11', '2009 ','2010 ','2011 ','2012 ', '2013 ','2014 ','2015 ','2016 ','2017 ','2018 ', '2019 ']]

In [56]:
education = education[(education["sex"] == "M") | (education["sex"] == "F")]

- **ED0-2** Less than primary, primary and lower secondary education (levels 0-2)
- **ED3-8** Upper secondary, post-secondary non-tertiary and tertiary education (levels 3-8)
- **ED3_4** Upper secondary and post-secondary non-tertiary education
- **ED5-8** Tertiary education

In [57]:
# ¿dejamos solo la de ED3-8 pues lo que queremos medir es la educación post colegio- superior?
education.groupby(["geo", "isced11", "sex"]).sum()

                 2009   2010   2011   2012   2013   2014   2015   2016   \
geo isced11 sex
AT  ED0-2   F    208.6  199.2  197.6  190.0  186.0  173.3  167.9  164.3
            M    124.0  123.7  126.0  118.6  119.5  109.8  108.0  111.5
    ED3-8   F    691.4  700.8  702.4  710.0  714.0  726.7  732.1  735.7
            M    776.0  776.3  774.0  781.4  780.5  790.2  792.0  788.5
    ED3_4   F    551.4  555.5  557.7  555.4  550.9  464.4  461.6  453.1
...                ...    ...    ...    ...    ...    ...    ...    ...
UK  ED3-8   M    699.2  711.9  707.9  715.3  717.6  726.0  727.1  721.0
    ED3_4   F    361.1  358.7  349.6  354.7  349.2  347.9  346.8  343.9
            M    413.3  414.7  396.8  392.6  390.4  390.1  383.5  371.6
    ED5-8   F    294.6  312.9  327.4  342.1  355.2  363.2  372.7  378.4
            M    286.0  297.1  311.1  322.5  327.2  335.9  343.4  349.2

                 2017   2018   2019
geo isced11 sex
AT  ED0-2   F    157.4  154.4  149.9
            M    115.7  110.6  113.6
    ED3-8   F    742.6  745.6  750.1
            M    784.3  789.4  786.4
    ED3_4   F    450.7  456.1  447.7
...                ...    ...    ...
UK  ED3-8   M    724.0  721.7  727.7
    ED3_4   F    345.1  343.2  336.7
            M    374.0  370.5  365.1
    ED5-8   F    383.8  392.4  404.3
            M    349.8  350.8  362.6

[312 rows x 11 columns]

In [35]:
ict = pd.read_csv("../data/ict_specialists.csv")
ict.columns

Index(['unit', 'sex', 'geo', '2009 ', '2010 ', '2011 ', '2012 ', '2013 ',
       '2014 ', '2015 ', '2016 ', '2017 ', '2018 ', '2019 '],
      dtype='object')

In [62]:
ict = ict[ict.unit == "PC"]

In [66]:
ict.groupby(["geo", "sex"]).sum()

         2009   2010   2011   2012   2013   2014   2015   2016   2017   2018   \
geo sex
AT  F     18.8   19.1   13.2   16.8   14.2   13.4   14.3   17.1   15.7   18.4
    M     81.2   80.9   86.8   83.2   85.8   86.6   85.7   82.9   84.3   81.6
BE  F     18.3   19.1   16.6   17.1   15.5   15.2   15.1   14.1   15.6   16.8
    M     81.7   80.9   83.4   82.9   84.5   84.8   84.9   85.9   84.4   83.2
BG  F     30.6   31.1   32.5   31.9   29.3   31.2   30.7   28.9   29.0   29.9
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
SK  M     67.5   65.2   82.5   86.6   91.0   88.0   88.1   90.3   85.6   86.9
TR  F      0.0    0.0   14.3   14.4   14.7   14.5   13.8   13.2   13.8   14.6
    M      0.0    0.0   85.7   85.6   85.3   85.5   86.2   86.8   86.2   85.4
UK  F      0.0    0.0   17.9   17.4   15.8   16.5   17.2   16.5   17.6   17.0
    M      0.0    0.0   82.1   82.6   84.2   83.5   82.8   83.5   82.4   83.0

         2019
geo sex
AT  F     20.4
    M     79.6
BE  F     17.2
    M     82.8
BG  F     28.1
...        ...
SK  M     86.0
TR  F     13.0
    M     87.0
UK  F     17.1
    M     82.9

[72 rows x 11 columns]

### más mujeres en puestos de responsabilidad >> países más desarrollados

In [71]:
gdp = pd.read_csv("../data/gdpyear.csv")

In [73]:
gdp.drop(columns = "Unnamed: 0", inplace = True)

In [75]:
gdp.set_index("geo")

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
geo,,,,,,,,,,,
AL,8662.2,8996.6,9268.3,9585.8,9625.4,9968.6,10264.1,10719.9,11559.0,12820.1,13644.7
AT,288044.0,295896.6,310128.7,318653.0,323910.2,333146.1,344269.2,357608.0,369341.3,385361.9,397575.3
BA,12679.3,12968.9,13411.8,13407.5,13691.8,13988.3,14617.4,15289.9,16042.4,17099.7,18046.4
BE,346472.8,363140.1,375967.8,386174.7,392880.0,403003.3,416701.4,430085.3,444991.1,460419.4,476203.3
BG,37417.7,38058.1,41268.9,42048.6,41903.5,42890.3,45690.9,48640.2,52329.0,56111.8,61239.5
CH,402236.6,455933.7,520201.4,538439.0,536632.9,553942.2,632770.5,628729.6,623994.0,623042.2,653470.8
CY,18675.5,19410.0,19803.0,19440.8,17995.0,17430.2,17884.0,18929.3,20119.9,21432.5,22287.0
CZ,149586.5,157920.8,165202.2,162587.5,159461.5,157821.3,169558.2,177438.5,194132.9,210927.8,223950.3
DE,2445730.0,2564400.0,2693560.0,2745310.0,2811350.0,2927430.0,3026180.0,3134740.0,3259860.0,3356410.0,3449050.0
DK,231278.0,243165.4,247879.9,254578.0,258742.7,265757.0,273017.6,283109.7,294808.2,302361.1,312747.2
EA,9210566.3,9470254.1,9744338.7,9778987.7,9875312.9,10130620.0,10519852.8,10815624.6,11217073.6,11587590.9,11935525.7
EA12,9085280.7,9339475.7,9592421.1,9624302.7,9719437.1,9946740.7,10290663.1,10578447.5,10964641.3,11317710.9,11650145.6
EA19,9270530.1,9531021.4,9795966.3,9834616.9,9933318.7,10167201.3,10519852.8,10815624.6,11217073.6,11587590.9,11935525.7
EE,14211.8,14863.1,16829.2,18050.7,19033.4,20180.0,20782.2,21931.5,23857.7,25937.6,28112.4
EL,237534.2,224124.0,203308.2,188388.7,179616.4,177349.4,176110.2,174236.9,177151.9,179727.3,183413.5
ES,1069323.0,1072709.0,1063763.0,1031099.0,1020348.0,1032158.0,1077590.0,1113840.0,1161867.0,1204241.0,1244772.0
EU15,11369262.8,11829511.8,12166015.0,12419946.7,12516368.4,12962411.8,13663891.9,13761942.9,14099264.9,14511642.4,14963976.2
EU27_2020,10585151.7,10977295.6,11321808.8,11388518.2,11517118.7,11781640.0,12211542.9,12550983.8,13069697.9,13517885.1,13963897.4
EU28,12323218.2,12849471.0,13234678.1,13499547.1,13613456.7,14092720.2,14856259.3,14985103.0,15429487.8,15938782.3,16490512.5
FI,181747.0,188143.0,197998.0,201037.0,204321.0,206897.0,211385.0,217518.0,226301.0,233696.0,240261.0
FR,1936422.0,1995289.0,2058369.0,2088804.0,2117189.0,2149765.0,2198432.0,2234129.0,2297242.0,2360687.0,2425708.0
HR,45064.8,45195.1,44924.6,44007.9,43806.3,43398.6,44612.0,46619.3,49238.5,51950.1,54237.9
HU,94382.6,99576.3,102020.6,99984.0,102034.3,106061.3,112701.0,116129.8,126891.0,135931.0,146061.8
IE,169785.8,167673.7,170950.9,175103.9,179616.3,195148.1,262853.3,270809.5,300386.9,326986.1,356051.2
IS,9419.1,10383.4,10934.3,11479.9,12132.9,13472.6,15795.3,18804.2,21921.5,22174.4,21994.3
IT,1577255.9,1611279.4,1648755.8,1624358.7,1612751.3,1627405.6,1655355.0,1695786.8,1736592.8,1771565.9,1790941.5
LI,NaN,NaN,NaN,NaN,4812.4,5021.7,5649.1,5637.7,5804.3,5822.5,NaN
LT,26897.0,28033.8,31317.2,33410.2,35039.5,36581.3,37345.7,38889.9,42276.3,45491.1,48797.4
LU,36976.5,40177.8,43164.6,44112.1,46499.6,49824.5,52065.8,54867.2,56814.2,60053.1,63516.3
LV,18855.0,17872.8,20310.5,22219.0,22966.3,23613.9,24560.9,25360.3,26962.3,29142.5,30420.9
ME,2993.9,3125.1,3264.8,3181.5,3362.5,3457.9,3654.5,3954.2,4299.1,4663.1,4950.7
MK,6766.5,7108.3,7544.2,7584.8,8149.6,8562.0,9072.3,9656.5,10038.3,10744.0,11209.1
MT,6259.6,6815.8,6924.6,7364.5,7944.3,8751.1,9996.7,10589.2,11703.5,12587.4,13592.2
NL,624842.0,639187.0,650359.0,652966.0,660463.0,671560.0,690008.0,708337.0,738146.0,773987.0,810247.0
NO,278246.6,323760.9,358339.5,396523.5,393408.7,375947.3,347632.1,333471.3,353316.4,370294.3,362242.6
PL,317040.6,362190.9,379860.0,387947.0,392310.7,408967.8,430465.8,427091.8,467426.6,497842.3,532329.2
PT,175416.4,179610.8,176096.2,168295.6,170492.3,173053.7,179713.2,186489.8,195947.2,205184.1,213949.3
RO,125213.9,125472.3,131841.6,132711.2,143690.4,150708.6,160149.8,170063.4,187772.7,204496.9,222997.6
RS,32486.2,31545.8,35431.7,33679.3,36426.7,35467.5,35740.2,36779.3,39235.3,42892.2,45970.4
SE,314637.5,374695.2,412844.7,430037.1,441850.7,438833.9,455494.7,466266.5,480025.5,470673.1,474550.5
SI,36254.9,36363.9,37058.6,36253.3,36454.3,37634.3,38852.6,40443.2,43009.1,45862.6,48392.6
SK,64095.5,68188.7,71304.5,73575.8,74448.8,76269.8,79767.6,81051.5,84532.2,89505.5,93865.2
TR,465245.5,584855.7,600961.4,683587.3,719726.6,707000.8,777042.3,785618.9,760497.1,658464.1,679510.4
UK,1738066.5,1872175.5,1912869.3,2111028.9,2096338.0,2311080.2,2644716.5,2434119.2,2359789.9,2420897.2,2526615.2
XK,4069.6,4402.0,4814.5,5058.8,5326.6,5567.5,5807.0,6070.1,6413.8,6725.9,7103.8

In [76]:
manager = pd.read_csv("../data/manager.csv")
# sex no da info porque son porcentajes sobre el total siempre de la mujer

In [87]:
manager = manager[['geo', '2009 ','2010 ','2011 ','2012 ', '2013 ','2014 ','2015 ','2016 ','2017 ','2018 ', '2019 ']]

In [88]:
manager.groupby("geo").max()

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
geo,,,,,,,,,,,
AT,51.4,31.1,31.2,37.5,32.0,35.3,37.0,38.9,37.7,36.0,38.9
BE,39.3,46.1,38.8,43.3,34.8,43.9,50.8,47.9,41.4,48.1,37.7
BG,34.4,36.4,42.3,38.8,39.8,39.7,38.9,42.4,42.0,40.8,41.9
CH,57.1,68.9,45.2,52.9,53.2,51.1,45.7,57.8,48.9,45.0,43.6
CY,18.9,20.9,18.8,20.6,27.8,27.0,34.3,33.3,26.3,18.9,25.6
CZ,39.5,60.0,38.9,38.9,34.5,52.9,52.4,53.8,29.1,31.0,50.0
DE,45.4,48.4,50.3,33.5,39.3,37.9,37.8,43.4,40.8,39.3,38.8
DK,26.2,25.6,30.4,34.2,27.7,31.6,28.8,34.1,29.9,29.1,33.0
EA19,42.1,42.2,41.5,38.3,37.2,40.3,39.8,42.4,39.4,37.5,36.4
EE,49.6,43.4,49.5,44.9,40.5,42.5,41.4,52.0,47.1,45.2,57.1
EL,44.4,31.2,26.0,29.6,29.7,31.0,27.1,26.8,31.9,27.9,34.9
ES,38.1,43.0,37.5,54.7,38.8,38.4,38.9,38.7,61.1,37.8,37.6
EU27_2020,41.9,42.0,42.0,37.8,37.5,39.3,40.2,43.8,40.3,38.7,39.7
EU28,42.8,41.7,40.1,39.9,40.6,43.3,42.5,42.8,40.7,41.9,41.0
FI,30.9,34.0,34.8,32.5,30.4,39.5,36.6,35.4,32.8,33.0,37.3
FR,41.6,42.6,45.5,44.3,40.4,47.3,44.1,36.3,60.0,39.9,39.4
HR,30.1,28.2,32.2,30.1,28.2,26.5,29.4,38.8,31.9,34.1,28.6
HU,54.9,37.9,46.6,41.2,45.4,45.8,50.7,50.1,47.4,50.9,46.2
IE,48.1,50.0,54.5,38.8,40.2,45.7,47.8,43.0,45.8,46.8,41.7
IS,36.4,42.4,47.6,47.7,42.6,40.2,42.9,38.5,39.1,46.2,47.6
IT,40.6,36.4,29.5,27.3,31.9,33.8,30.1,47.6,43.9,30.9,31.4
LT,44.9,48.6,43.5,43.2,42.5,40.9,41.8,91.7,45.8,42.6,46.6
LU,26.1,27.9,38.5,20.0,17.6,30.0,25.0,38.9,20.4,41.2,30.8
LV,64.3,50.0,52.1,51.0,45.3,49.6,54.8,56.2,54.6,56.5,54.4
ME,NaN,NaN,36.1,40.0,29.5,37.0,29.2,32.6,29.5,38.2,43.8
MK,28.7,29.7,30.1,26.5,28.9,35.9,29.2,29.2,27.6,28.6,29.0
MT,28.0,30.4,35.1,33.3,34.6,33.8,32.1,36.0,36.4,35.4,32.2
NL,37.9,34.9,39.5,42.5,39.3,44.2,45.3,41.3,38.0,40.6,39.3
NO,83.3,75.0,38.9,34.8,52.2,45.5,47.5,62.8,46.8,40.7,38.5
PL,37.2,39.1,46.3,39.2,39.4,42.4,45.2,54.8,52.2,50.0,64.4
PT,37.6,39.7,39.7,42.0,41.4,44.2,40.4,45.0,40.9,43.3,44.6
RO,34.6,35.4,35.5,33.8,32.2,33.5,35.0,37.7,37.1,33.6,35.6
RS,NaN,38.4,NaN,NaN,36.3,36.6,32.7,33.5,34.9,35.1,35.4
SE,35.6,55.6,57.1,36.7,37.7,38.6,41.4,42.2,40.7,39.8,42.4
SI,44.2,41.8,42.5,42.9,39.5,42.1,40.0,43.8,48.4,50.0,48.0
SK,33.2,37.0,35.7,37.3,35.0,33.2,34.6,36.5,34.4,34.6,35.3
TR,18.2,16.4,18.3,18.4,23.2,25.2,21.6,18.7,21.1,20.7,20.5
UK,44.3,41.2,37.0,43.5,44.9,48.1,45.0,41.7,41.2,45.1,42.2

### más educación >> más mujeres en puestos de responsabilidad